

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');


body {
  background-color: #f9f9f9;
}

footer {
  color: white;
  font-family: 'Modak', cursive;
  width: 100%;
  bottom: 0;
  padding-right: 5px;
  position: fixed;
  z-index: 1;
}
cite {
  color: #FFFFFF;
  padding: 1px;
  font-size: 1.5vw;
}

.logotyp {
  float: right;
  padding: 10px 0px 0px 70px;
  margin-bottom: -40px; 
  margin-right: -25px;
  background-color: #7556DF;
  width: 220px;
  height: 100px;
  color: yellow;
  border-radius: 100px/50px;

}

.dashpanel {
  background-color: #7556DF;
  height: 200%;
  width: 17%;
  padding: 15px 20px 20px 15px;
  display: flex;
  flex-direction: column;

}

form {
  padding: 20px;
  border: 1px solid #000000;
  left: 40%;
  top: 70%;
  margin-top: 70px;
  height: 250px;
  width: 250px;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 3.4rem;
}