/*.App {
  text-align: center;
}*/

body {
  background-color: #EAEAEA;
}

img {
  height: 20%;
  width: 15%;
  padding: 2px;
}
/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
p {
  color: #000000;
}



.App-menu-panel {
  background-color: #7556DF;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 10px;
  /* padding: 15px 20px 20px 15px; */
  /*display: flex;*/
  color: #FFFFFF;
  flex-direction: column;
  font-size: 5px;
}


.App-menu-title,
.App-menu-subtitle,
.App-menu-text {
  color: #FFFFFF;
  font-size: 20px;
}

.fa {
  padding: 5px;
  font-size: 40px;
}

p {
  color: #FFFFFF;
  margin: 3px;
}

/*.App-menu-subtitle {
  color: #000000;
  font-size: 50px;
}

.App-menu-text{
  color: #000000;
  font-size: 50px;
}*/

/*
.Chat-display {
  
}

.Chat-box {
  favicon ref
  <i class="fa fa-send" style="font-size:48px;color:red"></i>
}
*/