@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

body {
  background-color: #7556df;
}

.userListStyle {
  margin-left: 250px;
  margin-right: 250px;
}

.App-menu-panel {
  background-color: #7556df;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 10px;
  color: #ffffff;
  flex-direction: column;
  font-size: 1rem;
}

.appname {
  font-family: "Krona One", sans-serif;
  color: #ffff00;
  font-size: 4rem;
  margin: 0;
}

.App-menu-subtitle {
  margin: 0;
}

.App-menu-title {
  font-family: "Krona One", sans-serif;
}

.borderApp {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.fa {
  padding: 5px;
  font-size: 2vw;
  color: #ffffff;
}

p, 
h3 {
  color: #ffffff;
  font-size: 1.5vw;
  margin: 1px;
  font-family: "Helvetica", sans-serif;
}

hr {
  color: #ffffff;
}

.miniAvatar {
  font-size: 2.2vw;
}

li,
nav {
  padding: 0px;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
  color: #ffffff;
  font-size: 1.5vw;
  margin-top: 0px;
}

.menutitle {
  font-family: "Noto Sans JP", sans-serif;
  margin: 1px;
}

input {
  font-family: "Helvetica" m sans-serif;
  margin: 10px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
